<div class="clearfix">
  <div class="container-fluid" style="margin: auto;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">Menü</a></li>
      </ol>
    </nav>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <a routerLink="/calander" routerLinkActive="active">
              <h4>Rezervasyonlar</h4>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a routerLink="/user-management" routerLinkActive="active">
              <h4>Kullanıcı Yönetimi</h4>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a routerLink="/channel-management" routerLinkActive="active">
              <h4>Kanal Yönetimi</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="card-header">
            <a routerLink="/room-management" routerLinkActive="active">
              <h4>Oda Tanımları</h4>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a routerLink="/account-management" routerLinkActive="active">
              <h4>Ön Muhasebe</h4>
            </a>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a routerLink="/customer-management" routerLinkActive="active">
              <h4>Müşteriler</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
